--add-opens java.base/java.lang=ALL-UNNAMED
--add-opens java.base/java.time=ALL-UNNAMED
--add-opens java.base/java.util=ALL-UNNAMED
--add-opens java.base/java.util.concurrent=ALL-UNNAMED
--add-opens java.rmi/sun.rmi.transport=ALL-UNNAMED
-Djava.awt.headless=true
-Djava.security.egd=file:/dev/./urandom
-Xmx1G